@for (course of courses; track course.id) {

  <mat-card [ngClass]="classes">

    <mat-card-header>

      <mat-card-title>{{course.description}}</mat-card-title>

    </mat-card-header>

    <img mat-card-image
         src="https://angular-university.s3-us-west-1.amazonaws.com/course-images/reactive-angular-course.jpg">

    <mat-card-content>
      <p>{{course.longDescription}}</p>
    </mat-card-content>

    <mat-card-actions class="course-actions">

      <button mat-button mat-raised-button color="primary">
        VIEW COURSE
      </button>

      <button mat-button mat-raised-button color="accent" (click)="onEditClick(course.id)">
        EDIT
      </button>

      <button mat-button mat-raised-button color="accent" (click)="disableCourse(course)">Disable</button>

    </mat-card-actions>

  </mat-card>
}
