<mat-dialog-content>
  <form [formGroup]="formGroup" id="mainForm" (ngSubmit)="save()">
    <mat-form-field>
      <input matInput placeholder="Course Description" formControlName="description">
      <mat-error *ngIf="courseDescription?.hasError('required')">Field is mandatory</mat-error>
      <mat-error *ngIf="courseDescription?.hasError('containsStr')">Field does not contain asd</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Long Description" formControlName="longDescription"></textarea>
      <mat-error *ngIf="longDescription?.hasError('required')">Field is mandatory</mat-error>
      <mat-error *ngIf="longDescription?.hasError('minlength')">Field should be longer</mat-error>
    </mat-form-field>

    <mat-form-field>

      <mat-select placeholder="Select category" formControlName="category">
        <mat-option value="BEGINNER">
          Beginner
        </mat-option>
        <mat-option value="INTERMEDIATE">
          Intermediate
        </mat-option>
        <mat-option value="ADVANCED">
          Advanced
        </mat-option>

      </mat-select>
      <mat-error *ngIf="category?.hasError('required')">Pick a category</mat-error>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button
          (click)="close()">
    Close
  </button>

  <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid" form="mainForm">Save</button>

</mat-dialog-actions>


