<mat-dialog-content>
  <form [formGroup]="formGroup" id="mainForm" (ngSubmit)="save()">
      <mat-checkbox #checkbox>Description?</mat-checkbox>
    <mat-form-field>
      <input matInput placeholder="Course Description" formControlName="description">
      <mat-error *ngIf="courseDescription?.getError('required')">Input is required</mat-error>
      <mat-error *ngIf="courseDescription?.getError('containsStr')">Input must contain asd</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Long Description" formControlName="longInput"></textarea>
    </mat-form-field>

    <mat-form-field>

      <mat-select placeholder="Select category" formControlName="category">
        <mat-option value="BEGINNER">
          Beginner
        </mat-option>
        <mat-option value="INTERMEDIATE">
          Intermediate
        </mat-option>
        <mat-option value="ADVANCED">
          Advanced
        </mat-option>

      </mat-select>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions>

  <button mat-raised-button
          (click)="close()">
    Close</button>

  <button mat-raised-button color="primary" type="submit" [disabled]="formGroup.invalid" form="mainForm">Save</button>

</mat-dialog-actions>


