<mat-card class="login-container">
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form class="login-form" #mainForm="ngForm" (ngSubmit)="login(mainForm)">

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput #email="ngModel" type="email" (ngModelChange)="checkEmail(email)"  required placeholder="Email..." name="email" [(ngModel)]="model.email" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
                <input matInput #password="ngModel" type="password" required minlength="6" placeholder="Password..." name="password" ngModel>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit" [disabled]="mainForm.invalid">
        Login
      </button>
      <ul>
        <li *ngIf="email.invalid">Email is required!</li>
        <li *ngIf="password.errors?.['required']">Password is required!</li>
        <li *ngIf="password.errors?.['minlength']">Password must be 6 char or more!</li>
        <li *ngIf="email.errors?.['checkOrg']">{{email.getError('checkOrg')}}</li>
      </ul>

    </form>

  </mat-card-content>

</mat-card>
