<div class="courses-panel">

  <button mat-fab extended color="accent" (click)="addNewCourse()" class="add-button">
    Add New Course
    <mat-icon>add</mat-icon>
  </button>

  <button (click)="toggleDisable()">Disable</button>
  @if (!isCardListDisabled) {
    <mat-tab-group>

      <mat-tab label="Beginners">
        <h2>Last Updated Course Id : {{number()}}</h2>
<!--        display only begginer courses here-->
        <app-course-card-list [courses] = "(this.courses | async) ?? []"></app-course-card-list>
      </mat-tab>
      <!--        display only advanced courses here-->
            <mat-tab label="Advanced">
              <app-course-card-list></app-course-card-list>
            </mat-tab>

    </mat-tab-group>
  }


</div>

